header {
  background-color: rgba(235, 226, 226, 0.242);
}

header .my-bg-photo {
  background: url('banner-babajee.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

}

.my-bg-photo  {
  position: relative;
  z-index: 10;
}

.my-bg-photo::before {
  content: " ";
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: .5;
}

.container {
  max-width: 960px;
}
 
.content {
  background: url('banner-back3.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
  padding: 20px;
}
 /* Site Navigation */
.mb-3 li {
  list-style: none;
  float: left;
  margin-right: 5px;
  
}
.mb-3 a {
     colour: #617140;
     text-decoration: none;
     padding: 10px 10px;
     border: 3px solid rgb(150, 177, 29);
}
.mb-3 a:hover {
  background-color:#e5e9dc ;
}
/*End Site Navigation*/