header {
  background-color: rgba(235, 226, 226, 0.242);
}

.my-bg-photo {
  background: url('banner-babajee.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

}

.my-bg-photo * {
  position: relative;
  z-index: 10;
}


.container {
  max-width: 960px;
}
 
.content {
  background: url('banner-back3.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;
}
 