html {
  background-color: hsl(39, 57%, 47%);

}
head {
  border-bottom: 2px solid blue;
}
.cycle-slideshow { 
  width: 500px;
  
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-left: 350px;
  align-items: center;
  padding: 10px;
}
 .container {
    max-width: 940px;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
 } 
 .content-area {
     padding: 20px;
     margin-top:10px;
    border-top: 3px solid black;
    border-bottom: 3px solid black;
 }
 .main-area {
     
    padding: 30px;
     
    margin-top: 20px;
    margin-bottom: 20px;
    border: 3px;
    background-color: brown;
    width: 66%;
    float: left;
  }
  .sidebar { 
     
    padding: 30px;
     
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px;
  }
  .box {
     
    padding: 30px;
     
    margin-top: 20px;
    margin-bottom: 20px; 
    border: 1px;
  }
li {color: rgb(180, 25, 147);
    font-size: larger ;}
p{
    color: black;
} 
/* Site Navigation */
.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
  
}
.site-nav a {
     colour: #617140;
     text-decoration: none;
     padding: 10px 20px;
     border: 3px solid rgb(150, 177, 29);
}
.site-nav a:hover {
  background-color:#e5e9dc ;
}
/*End Site Navigation*/
 .heading {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
     color: blue;
}