html {
  background-color: hsl(39, 57%, 47%);
  background-image: url(banner-sky2.jpg);

}
head {
  border-bottom: 2px solid blue;
  margin-left: 100px;
}
.cycle-slideshow { 
  width: 600px;
  
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-left: 350px;
  align-items: center;
  padding: 15px;
}
 
 .container {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    border-top: 10px solid blue;
    border-bottom: 10px solid blue;
 } 
 
 
li {color: rgb(180, 25, 147);
    font-size: larger ;}
p{
    color: black;
} 
/* Site Navigation */
.site-nav li {
  list-style: none;
  float: left;
  margin-right: 5px;
  
}
.site-nav a {
     colour: #617140;
     text-decoration: none;
     padding: 10px 10px;
     border: 3px solid rgb(150, 177, 29);
}
.site-nav a:hover {
  background-color:#e5e9dc ;
}
/*End Site Navigation*/
 .heading {
  text-align: center;
  margin-top: 10px;
  padding: 10px;
  color: blue;
}
.main-area {
  width: 66%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

.sidebar {
  color: #555;
  font-size: 75%;
}

.sidebar h3 {
  font-size: 100%;
  margin-bottom: 1px;
}

.box {
     
  padding: 10px;
   
  margin-top: 10px;
  margin-bottom: 10px; 
  border: 1px;
}
h2 {
  margin-top: 20px;
}
.container {
  background: url('banner-babajee.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

}
.group {
  margin-left: 200px;
}

h1 {
  margin-left: 100px;
  text-align: center;
}
.main-area {
  background: url('banner-sky.jpg') no-repeat;
  background-size: cover;
  background-position: center top;
  position: relative;

}
 